<div class="container">
<p>
  <strong><%= t('user_admin') %> :</strong>
  <%= @user.admin %>
</p>

<p>
  <strong><%= t('user_name') %> :</strong>
  <%= @user.name %>
</p>

<p>
  <strong><%= t('user_email') %> :</strong>
  <%= @user.email %>
</p>

<p>
  <strong><%= t('user_position') %> :</strong>
  <%= @user.position %>
</p>

<p>
  <strong><%= t('user_department') %> :</strong>
  <%= @user.department %>
</p>

<p>
  <strong><%= t('user_workload') %> :</strong>
  <%= @user.workload %>
</p>

<%= link_back %>
</div>