<div class="container">
  <%= link_to t('appointment_new'), new_appointment_path,  class: 'btn btn-primary btn-table' %> <br><br>
    <div class="table-responsive">
      <table class="table table-striped table-sm">
        <thead>
          <tr class="text-center">
            <th>DATA</th>
            <th>USUARIO</th>
            <th>INICIO</th>
            <th>ALMOÇO</th>
            <th>RETORNO</th>
            <th>SAIDA</th>
            <th>HORAS</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
        <% @appointments_report.each do |report| %>
          <% report[1].each do |appointment| %>
            <tr  class="text-center">
              <td><%= report[0].strftime("%d/%m/%Y") %></td>
              <td><%= appointment[0].name %></td>
              <% appointment[1].each do |appointment_date| %>
                <td><%= appointment_date[1] %></td>
              <% end %>
              <td>
                <%= link_to(appointment_history_path(appointment[0].id)) do %>
                  <i class="fa fa-list-alt" aria-hidden="true"></i>
                <% end %>
              </td>              
            </tr>
          <% end %>
        <% end %>
        </tbody>
      </table>
    </div>
</div>