<div class="container">
  <p>
    <strong><%= t('appointment_month') %>:</strong>
    <%= @appointment.appointment_date.strftime("%d/%m/%Y")  %>
  </p>

  <p>
    <strong><%= t('appointment_hour') %> </strong>
    <%= @appointment.appointment_date.strftime("%I:%M%p")   %>
  </p>

  <p>
    <strong><%= t('appointment_type') %>:</strong>
    <%= @appointment.appointment_type %>
  </p>

  <p>
    <strong><%= t('appointment_user') %>:</strong>
    <%= @appointment.user.name %>
  </p>

  <%= link_back %>
</div>
