<div class="container">
  <p>
    <strong>Appointment date:</strong>
    <%= @appointment.appointment_date.strftime("%d/%m/%Y")  %>
  </p>

  <p>
    <strong>Hour </strong>
    <%= @appointment.appointment_date.strftime("%I:%M%p")   %>
  </p>

  <p>
    <strong>Appointment type:</strong>
    <%= @appointment.appointment_type %>
  </p>

  <p>
    <strong>User:</strong>
    <%= @appointment.user.name %>
  </p>

  <%= link_back %>
</div>
